html {
  box-sizing: border-box;
}

.calc-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  border: 1px solid black;
  background-color: darkgrey;
}

.display {
  padding: 10px 50px;
  border: 1px solid #000;
  margin-top: 10px;
  background-color: white;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
  margin-bottom: 1px;
}

.one {
  order: 8;
}
.two {
  order: 9;
}
.three {
  order: 11;
}
.four {
  order: 5;
}
.five {
  order: 5;
}
.six {
  order: 6;
}
.seven {
  order: 1;
}
.eight {
  order: 2;
}
.nine {
  order: 3;
}
.zero {
  order: 13;
}
.plus {
  order: 16;
  background-color: coral;
}
.minus {
  order: 12;
  background-color: coral;
}

.multiply {
  order: 7;
  background-color: coral;
}

.divide {
  order: 4;
  background-color: coral;
}

.equal {
  order: 15;
  background-color: coral;
}

.clear {
  order: 14;
}
